*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    height: 100%;
    max-width:  100vw;
    display: flex;
}


header{
    background-color: #000;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid #c0fecf;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

.logo-title{
        color:#1ed5a9 ;
        font-size: 2.5rem;
        font-weight: 800;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

nav a{
    color: #000;
    font-size: 2rem;
    padding: 5px;
    background-color: #c0fecf; 
    border-radius: 10px;
    width: 150px ;
    text-align: center;
}

nav a:hover{
    color: #c0fecf;
    border: 1px solid #c0fecf;
    background-color: #000;
}

.credits-container{
    background-color: #c0fecf;
    color: #032541;
    text-align: center;
    font-size: 1rem;
}

main{
    background-color: #000;
    width: 80%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}

.home-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/foto_home3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
}

.home-title{
    color: #fff;
}

.home-image{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.home-text{
    color: #fff;
    width: 500px;
    font-size: 1.5rem;
}

.container{
    background-color: #000;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.filmes-title{
    color: #1ed5a9;
    font-size: 3rem;
}

.card-container{
    /* display: grid;
    grid-template-columns: repeat(2, mimax(350px, 1fr)) ; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}